/* Basic styles for search container and results */
.search-container {
  position: relative;
}

.results-container {
  margin-top: 20px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  margin-top:60px;
  margin-bottom:50px;
  
}

.movie-card {
  @apply p-2 bg-secondary-bg rounded-lg text-center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* TODO: Update shadow color if needed */
}

.movie-card img {
  max-width: 100%;
  border-radius: 4px;
}

.movie-card h3 {
  font-size: 20px;
  margin: 10px 0;
}

.movie-card a {
  @apply text-accent no-underline text-sm;
}

.movie-card a:hover {
  @apply underline;
}

.movie-card p {
  @apply text-sm font-bold mb-2;
}

/* Error message styles */
.error-message {
  @apply text-red-500 font-bold;
}

.search-container h1 {
  @apply font-bold text-center text-accent mt-2 mb-2;
 /*animation: bounce 2s infinite;*/
/* Bounce animation */
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.search-container h1 {
  @apply font-bold text-center mb-2;
  background: linear-gradient(90deg, var(--tw-color-accent), #ff7f50); /* Gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 30px;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 8px solid transparent;
  @apply border-t-accent; /* Primary color */
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle, rgba(0,0,0,0.1) 50%, transparent 50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Adds depth */
  animation: spin 1.5s linear infinite;
}

.spinner::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  @apply bg-accent; /* Accent color */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
}

  



.error-container {
  @apply text-center mt-12 text-red-500;
}

.error-message {
  @apply text-red-500 mt-5 font-bold;
}

#date{
  font-weight:1000; /* TODO: Consider using Tailwind's font-weight utilities */
}

#link{
  @apply text-text-primary no-underline;
}